.logo{
    color: var(--color-grey-2);
    font-size: var(--font-1);
    font-weight: 900;
}

.section-title{
    color: var(--color-grey-2);
    font-size: var(--font-2);
}

.cat-name{
    color: var(--color-grey-2);
    font-size:var(--font-2);
    font-weight: 500;
}
.album-dest{
    color: var(--color-grey-2);
    font-size: var(--font-2);
    font-weight: 600;
}
.band-name{
    color: var(--color-grey-2);
    font-size: var(--font-3);
    font-weight: 500;
}